@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* html {
  font-size: 62.5%;
  scroll-behavior: smooth;
} */

:root {
  --mainColor: #89216b;
  --whiteColor: #ffffff;
  --titleColor: #555555;
  --labelColor: #333333;
}